<h1> Add Task </h1>

<%= render "form", task: @task, user: @user %>

<%= link_to 'Back to Category', user_category_path(@user, @category), class: 'btn btn-primary' %>

<%= link_to 'Back to dashboard', dashboard_path, class: 'btn btn-primary' %>



